*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


@import url('https://rsms.me/inter/inter-ui.css');
html { font-family: 'Inter UI', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter UI var alt', sans-serif; }
}

  ::-moz-selection { background: #0008ff; }
  ::selection { background: #0008ff; }

.wrapper{
    position: relative;
    padding: 2%;
    max-width: 500px;
    min-height: 400px;
    height: 80%;
    margin:auto;
    border: 2px solid #0008ff;
    border-radius: 8px;
}
.main{
  position: relative;
  width: auto;
  height: auto;
  margin: auto;
  padding: 4%;
  border: 2px solid #fff;
}



.button {
    color: #0008ff;
    font-family: 'Inter UI', sans-serif;
    margin-left: 2%;
    bottom: 4%;
    position: absolute;
    padding: 2% 2% 2% 2%;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #fff; /* Green */
    border-radius: 8px;
    transition: 0.6s ease-out ;
    /* background-color: #efefef; */
  }
  .button:hover{
    /* text-decoration: underline; */
    transform:translate(0,-2px);
    -webkit-box-shadow:  0px 3px 8px -1px rgba(140,140,140,0.4);
-moz-box-shadow:  0px 3px 8px -1px rgba(140,140,140,0.4);
box-shadow:  0px 3px 8px -1px rgba(140,140,140,0.4);
  }

  .status{
    opacity: 0;
    font-family: 'Inter UI', sans-serif;
    position: relative;
    font-size: 1em;
    margin: auto;
    padding: 0% 1.5% 0% 1.5%;
    text-align: center;
  }


  .intro{
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 4%;
    padding: 1% 4% 4% 4%;
    transition: 0.6s ease-out ;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

h1{
  font-weight: 600;
  font-size: 2.7em;
}


.footi_wrap {
  position: fixed;

  left: 2%;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}
  .footi {
    float: left;
    
    z-index: 200;
    position: relative;
    width: fit-content;
    padding-bottom: 2%;
    color: #c4c4c4;
    text-align: left;
    font-size: 1em;
    z-index: 100;
    background-color: #fff;
    padding-top:2%;
    margin-right: 6%;
  }
  .footi:hover{
    color: #0008ff;
    cursor: pointer;
  }

  a{
    font-size: 1em;
    margin: 2%;
    font-weight: 400;
    color: #c4c4c4;
    -webkit-transition:all .3s ease-out;
    -moz-transition:all .3s ease-out;
    -ms-transition:all .3s ease-out;
    -o-transition:all .3s ease-out;
    transition:all .3s ease-out;
  }
  
  a:hover{color: #0008ff;}


.blue{
  color: #0008ff;
}


.about{
  position: fixed;
  bottom: -40%;
  max-width: 40%;
  font-size: 0.8em;
  margin: 2% 2% 0% 14.5%;

  font-weight: 400;
  color: #000000;
  padding: 1.5%;
  z-index: -100;
  -webkit-transition:all .3s ease-out;
  -moz-transition:all .3s ease-out;
  -ms-transition:all .3s ease-out;
  -o-transition:all .3s ease-out;
  transition:all .3s ease-out;
}
.commands{
  position: fixed;
  bottom: -40%;
  max-width: 40%;
  font-size: 0.8em;
  margin: 2% 2% 0% 1.7%;

  line-height: 2em;
  font-weight: 400;
  color: #000000;
  padding: 1.5%;
  z-index: -100;
  -webkit-transition:all .3s ease-out;
  -moz-transition:all .3s ease-out;
  -ms-transition:all .3s ease-out;
  -o-transition:all .3s ease-out;
  transition:all .3s ease-out;
}


@media only screen and (max-width: 720px) {
  .about {
    max-width: 100%;
  }
  .footi{
    margin-bottom: 4%;
  }
}
